
h1 {
    color: indigo;
    font-size: 80px;
    font-family: Georgia;
    text-shadow: 4px 4px grey;
}

body {
    background-color: lavenderblush;
    text-align: center;
    margin-top: 200px;
}

#timer {
    font-family: 'Cochin';
    font-size: 80px;
    font-weight: 300;
    color: purple;
}

button {
    font-family: 'Lucida Sans';
    width: 100px;
    height: 30px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}